/* comentarios en CSS */
body {
     background-color: gray;
     background-image: url(../pagina\ web/);
     background-attachment: fixed;

}

h1 {
     color: #34495e;
     background-color: rgba(50, 255, 200, 0.2);
     width: 400px;
     height: 50vh;
     display: inline-block;




}

a {
     background-color: aqua;
     color: white;
     width: 100px;
     padding: 10px;
     border: black 5px solid;
     border-radius: 20px;
     margin-top: 80px;
     display: block;

}

p {
     color: green;
     background-color: yellow;



}

button {
     background-color: pink;
     margin: 80px;
}

.textoRojo {
     color: crimson;

}

.letras {
     color: darkblue;

}

#unTexto {
     background-color: coral;


}


img {
     width: 50%;

     height: 100vh;


}

ul {
     width: 800px;
     height: 100px;
     background-color: bisque;
}

li {
     width: 50%;
     height: 25%;
     background-color: aquamarine;
}

div {
     width: 300px;

     height: 200px;
     background-image: url(../pagina\ web/.);

}